.cont{
    background-color: #295c92;
    display: flex;
    flex-direction: column;
    border-radius: 23px ;
    
}

input{
    /* margin-top: 0%; */
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    
}


.icon{
    margin-left: 20px;
    width: 50px;
    height: 100px;
}

.edits{
    margin-left: 20px;
    width: 50px;
    height: 100px;

}

.ans{
    background-color: rgb(255, 255, 255);
    color: #4a5d70;
    max-width: 80%;
    margin: auto;
    text-align: left;
    font-size: 28px;
    padding-left: 22px;
    margin-top: 15px;
    font-weight: 500;
    display: flex;
   
}

.edit{
    
    color: rgb(108, 116, 133);
    margin-top: 6px;
    margin-left: 10px;
    
}

.remove{
    background-color: rgb(14, 13, 13);
    width: 200px;
    
    text-align:center;
    height: 40px;
    border-radius: 22px ;
    font-weight: 500;
    color: white;
}

